<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Appels d'offre BOAMP</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
</html>

<iframe src="http://localhost:5601/app/kibana#/dashboard/08167b10-603e-11e8-b139-1b9fe09d357a?embed=true&_g=()" height="800" width="100%"></iframe>
<br>
<form action = "" class="form-inline" method="post" style="margin:5px;">
	<div class="form-group">
		<label for ="idAnnonce"></label>
		<input type="text" name="idAnnonce" placeholder="ID annonce" required>
	</div>

	<div class="form-group">
		<input name="pertinence" type="radio" id="option1" value="pertinent" checked>
		<label for="radioPertinent">Pertinent</label>
		<input name="pertinence" type="radio" class="with-gap" id="option2" value="nonPertinent">
		<label for="radioNonPertinent">Non pertinent</label>
	</div>

	<div class="form-group">
		<label for ="nom"></label>
		<input type="text" name="nom" placeholder="Votre nom">
	</div>

	<div class="form-group">
		<label for ="commentaire"></label>
		<input type="text" name="commentaire" placeholder="Commentaire">
	</div>

	<input class ="btn btn-primary" type ="submit" value="Mettre à jour">
</form>